<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<!-- breadcrums -->
<div class="container py-4 flex items-center gap-3">
    <%- include('../includes/breadcrum.ejs') %>
    <p class="text-gray-600 font-medium">Account</p>
</div>

<!--account container-->
<div class="container grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 pt-4 pb-16">

    <!--account side link-->
    <%- include('../includes/account-side-links.ejs') %>

    <!--main container-->
    <div class="col-span-1 lg:col-span-2 xl:col-span-3">
        <!--responsive cols container-->
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
            
            <a href="/orders" class="hover:text-primary text-gray-600 shadow rounded bg-white p-8">
                <div class="flex justify-evenly items-center gap-6">
                    <p class="text-4xl"><i class="fas fa-gifts"></i></p>
                    <div>
                        <p class="font-medium text-gray-800 text-2xl">My Orders</p>
                        <p class="">Look at your past orders, their dates, and details.</p>
                    </div>
                </div>
            </a>
            <a href="/account/admin-prods" class="hover:text-primary text-gray-600 shadow rounded bg-white p-8">
                <div class="flex justify-evenly items-center gap-6">
                    <p class="text-4xl"><i class="fas fa-store-alt"></i></p>
                    <div>
                        <p class="font-medium text-gray-800 text-2xl">My Store</p>
                        <p class="">Manage (See, edit, delete) your listed products.</p>
                    </div>
                </div>
            </a>
            <a href="/wishlist" class="hover:text-primary text-gray-600 shadow rounded bg-white p-8">
                <div class="flex justify-evenly items-center gap-6">
                    <p class="text-4xl"><i class="fas fa-heart"></i></p>
                    <div>
                        <p class="font-medium text-gray-800 text-2xl">My Wishlist</p>
                        <p class="">Manage the products in your wishlist.</p>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %>