<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<!-- breadcrums -->
<div class="container py-4 flex items-center gap-3">
   <%- include('../includes/breadcrum.ejs') %>
   <p class="text-gray-600 font-medium">Account</p>
</div>

<!--account container-->
<div class="container grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 pt-4 pb-16">

   <!--account side link-->
   <%- include('../includes/account-side-links.ejs') %>

   <!--main container-->
   <div class="col-span-1 lg:col-span-2 xl:col-span-3">
   
      <!-- form -->
      <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
         <h1 class="text-2xl uppercase font-medium mb-1"><% if (editing) { %>Edit<% } else { %>Add<% } %> Product</h1>
         <form id="add-product" action="/account/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <% if (errorMessage) { %> 
               <div class="w-full py-2 my-3 rounded bg-red-200">
                  <p class="text-center text-red-700"><%= errorMessage %> </p>
               </div>
            <% } %> 
            <label class="text-gray-600 mb-2">Title<br>
            <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'title') ? 'border-red-500' : '' %>"  
               type="text" name="title" 
               value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </label><br>
            <label class="text-gray-600 mb-2">Stock<br>
               <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'stock') ? 'border-red-500' : '' %>"  
               type="text" name="stock" 
               value="<% if (editing || hasError) { %><%= product.stock %><% } %>">
            </label><br><label for="brand-input" class="text-gray-600 mb-2">Brand<br>
               <select id="brand-input" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'brand') ? 'border-red-500' : '' %>"  
               name="brand">
                  <option value="">Select one...</option>
                  <option value="Gibson" <% if ((editing || hasError) && product.brand === 'Gibson') { %>selected<% } %>>Gibson</option>
                  <option value="Fender" <% if ((editing || hasError) && product.brand === 'Fender') { %>selected<% } %>>Fender</option>
                  <option value="Ibanez" <% if ((editing || hasError) && product.brand === 'Ibanez') { %>selected<% } %>>Ibanez</option>
                  <option value="Epiphone" <% if ((editing || hasError) && product.brand === 'Epiphone') { %>selected<% } %>>Epiphone</option>
                  <option value="Squire" <% if ((editing || hasError) && product.brand === 'Squire') { %>selected<% } %>>Squire</option>
                  <option value="Yamaha" <% if ((editing || hasError) && product.brand === 'Yamaha') { %>selected<% } %>>Yamaha</option>
                  <option value="Other" <% if ((editing || hasError) && product.brand === 'Other') { %>selected<% } %>>Other</option>
               </select>
            </label><br>
            <label for="category-input" class="text-gray-600 mb-2">Category<br>
               <select id="category-input" class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'brand') ? 'border-red-500' : '' %>"  
               name="category">
                  <option value="">Select one...</option>
                  <option value="Electric" <% if ((editing || hasError) && product.brand === 'Electric') { %>selected<% } %>>Electric</option>
                  <option value="Acoustic" <% if ((editing || hasError) && product.brand === 'Acoustic') { %>selected<% } %>>Acoustic</option>
                  <option value="Electroacoustic" <% if ((editing || hasError) && product.brand === 'Electroacoustic') { %>selected<% } %>>Electroacoustic</option>
                  <option value="Bass" <% if ((editing || hasError) && product.brand === 'Bass') { %>selected<% } %>>Bass</option>
                  <option value="Accessory" <% if ((editing || hasError) && product.brand === 'Accessory') { %>selected<% } %>>Accessory</option>
                  <option value="Other" <% if ((editing || hasError) && product.brand === 'Other') { %>selected<% } %>>Other</option>
               </select>
            </label><br>
            <label class="text-gray-600 mb-2">Price<br>
               <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'price') ? 'border-red-500' : '' %>"  
               type="text" name="price" 
               value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </label><br>
            <label class="text-gray-600 mb-2">Description<br>
               <textarea rows="5" name="description" 
               class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'description') ? 'border-red-500' : '' %>"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </label><br>
            <label class="text-gray-600 mb-2">Image URL<br>
               <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400 <%= validationErrors.find(e=>e.param === 'imageUrl') ? 'border-red-500' : '' %>" 
               type="url" name="imageUrl" 
               value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
            </label><br>
            <% if (editing) { %>
               <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <button class="w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition" type="submit"><% if (editing) { %>Update<% } else { %>Add<% } %> </button>
         </form>
      </div>
   </div>
</div>
   
<%- include('../includes/end.ejs') %>