<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<!-- breadcrums -->
<div class="container py-4 flex items-center gap-3">
    <%- include('../includes/breadcrum.ejs') %>
    <a href="/account" class="text-gray-600 text-base">Account</a>
    <span class="text-sm text-gray-400">
        <i class="fas fa-chevron-right"></i>
    </span>
    <p class="text-gray-600 font-medium">My Store</p>
</div>

<!-- shop wrapper -->
<div class="container grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 pt-4 pb-16 items-start">

    <%- include('../includes/account-side-links.ejs') %>

    <!--products-->
    <div class="col-span-1 lg:col-span-2 xl:col-span-3">
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
            <% if (prods.length > 0) { %> 
            <% for (let product of prods) { %> 
                <div class="bg-white shadow rounded overflow-hidden group flex flex-col justify-between">
                    <div class="relative">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="w-full">
                    </div>
                    <div class="pt-4 pb-3 px-4">
                        <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition"><%= product.title %> 
                            <% if (product.stock < 1) { %> <span class="text-red-700">(out of stock)</span> <% } %> 
                        </h4>
                        
                        <div class="flex items-baseline mb-1 space-x-2 font-roboto">
                            <p class="text-xl text-primary font-semibold">$<%= product.price %></p>
                            <!--original price <p class="text-sm text-gray-400 line-through">$999</p> -->
                        </div>
                        <div class="flex items-center">
                            <div class="flex gap-1 text-sm text-yellow-400">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                            <div class="text-xs text-gray-500 ml-3">(150)</div>
                        </div>
                    </div>                  
                    <div class="flex">
                        <a href="/account/edit-product/<%= product.id %>?edit=true" class="w-full py-1 text-center text-white bg-primary border border-primary rounded-bl hover:bg-transparent hover:text-primary transition">Edit</a>
                        <form class="w-full" action="/account/delete-product" method="POST">
                            <input type="hidden" value="<%= product.id %>" name="productId">
                            <button type="submit" class="w-full py-1 text-center text-white bg-red-700 border border-red-700 rounded-br hover:bg-transparent hover:text-red-700 transition">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
            <% } else { %>
            <h1 class="text-gray-800 text-xl font-medium uppercase">You don't have any products listed.</h1>
            <% } %> 
        </div>

    </div>
</div>

<%- include('../includes/end.ejs') %>