<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<!-- breadcrums -->
<div class="container py-4 flex items-center gap-3">
    <%- include('../includes/breadcrum.ejs') %>
    <p class="text-gray-600 font-medium">Account</p>
</div>

<!--account container-->
<div class="container grid grid-cols-1 md:grid-cols-2 md:gap-6 pt-8 pb-16 text-gray-500">
    <div class="mb-12">
        <h3 class="text-gray-600 text-2xl uppercase mb-8">Let us know if you have any questions!</h3>
        <p>✉ vil13004@byui.edu</p>
        <p>Whatsapp +1(208)970-0499</p>
        <p>✆ +52(55)7596 1532</p>
    </div>
    <form class="mb-12" action="https://formsubmit.co/robertocarlosv@byui.edu" method="POST">
        <h3 class="text-gray-600 text-2xl uppercase mb-8">Or send us a message!</h3>
        <input class="block mb-8 w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" type="text" name="name" placeholder="Your name" required>
        <input class="block mb-8 w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" type="email" name="email" placeholder="Your email" required>
        <textarea class="block mb-8 w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="message" rows="4" required placeholder="Your message"></textarea>
        <input type="hidden" name="_subject" value="New message from ePortfolio!">
        <input type="hidden" name="_next" value="https://robertov92.github.io/ePortfolio/thankyou.html">
        <input type="hidden" name="_captcha" value="false">
        <button class="py-2 px-8 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition" type="submit">Send your message!</button>
    </form>
</div>

<%- include('../includes/end.ejs') %>