<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<!-- breadcrums -->
<div class="container py-4 flex items-center gap-3">
    <%- include('../includes/breadcrum.ejs') %>
    <a href="/account" class="text-gray-600 text-base">Account</a>
    <span class="text-sm text-gray-400">
        <i class="fas fa-chevron-right"></i>
    </span>
    <p class="text-gray-600 font-medium">My Wishlist</p>
</div>
 
 <!--account container-->
 <div class="container grid grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 pt-4 pb-16">
 
    <!--account side link-->
    <%- include('../includes/account-side-links.ejs') %>
 
    <!--main container-->
    <div class="col-span-1 lg:col-span-2 xl:col-span-3 space-y-4">
        <% if (products.length > 0) { %>
        <% products.forEach(p => { %>
            <div class="flex flex-col lg:flex-row lg:items-center justify-between xl:p-6 lg:gap-4 gap-2 p-4 border border-gray-200 rounded shadow">
                <div class="w-full lg:w-28">
                    <img src="<%= p.productId.imageUrl%>" alt="<%= p.productId.title %>" class="w-full">
                </div>
                <div class="lg:w-1/3">
                    <h2 class="text-gray-800 text-xl font-medium uppercase"><%= p.productId.title %></h2>
                    <p class="text-gray-500 text-sm">Availability: <% if (p.productId.stock > 0) { %> <span class="text-green-600">In Stock</span><% } else { %><span class="text-red-600">Out of Stock</span><% } %></p>
                </div>
                <div class="text-primary text-lg font-semibold">$<%= p.productId.price %></div>
                <% if (p.productId.stock > 0) { %>
                <div class="lg:w-32 w-full py-1 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition font-roboto">
                    <%- include('../includes/add-to-cart.ejs', {product: p.productId}) %>
                </div>
                <% } else { %>
                <p class="cursor-not-allowed lg:w-32 w-full py-2 text-center text-sm text-white bg-gray-400 border border-gray-400 rounded font-roboto">Add to Cart</p>
                <% } %>
                <div class="text-gray-600 text-center cursor-pointer hover:text-primary">
                    <form action="/wishlist-delete-item" method="POST">
                        <input type="hidden" value="<%= p.productId._id %>" name="productId">
                        <button class="btn" type="submit"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
            </div>
        <% }) %>
        <% } else { %>
        <h1 class="text-gray-800 text-xl font-medium uppercase">No Products in Your Wishlist!</h1>
        <% } %>
    </div>
</div>

<%- include('../includes/end.ejs') %>